# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Environments
.env
.venv/
venv/
env/

# Large model/vector files
vectorstores/
models/
*.pth
*.pt
*.h5

# Streamlit cache
.streamlit/

# OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
